*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --backgroud: #090c10;
  --primary-color: #0f151c;
  --primary-color-light: #121a22;
  --secundary-color: #491c4a;
  --secundary-color-hover: #3b163c;
  --secundary-color-light: #752c77;
  --white: #fffbfb;
  --gray: #474646;
  --orange: #ff7517;
  --green: #058646;
}

h1, h2, h3, h4, p{
  font-size: 2rem;
  color: var(--orange);
}

span{
  font-size: 1.5rem;
  color: var(--orange);
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
}

a{
  color: inherit;/*pega a estilização do container que ele está*/
  text-decoration: none;
}

html, body{
  font-size: 65.6%;
  background: var(--backgroud);
  font-family: 'Nunito', sans-serif, Roboto;
  /*color: var(--text);*/
}


@media(max-width: 700px) {
  html{
      font-size: 50%;
  }
}
@media(max-width: 600px) {
  html{
      font-size: 45%;
  }
}
